body{
  background-color: rgb(6, 240, 220); /* For browsers that do not support gradients */

}
h1{
  text-align: center;
  font-size: 50px;
  font-family: 'Michroma', sans-serif;
}
.game {
margin-top: 35px;
margin-right: auto; 
margin-left: auto;
width: 1000px;
height: 567px;
border-style: solid;
border-width: 5px; 
}
.city {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
.start-screen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
}
#score-display{ 
  position: absolute;
  top: 145px;
  right: 27%;
  font-size: 35px;
}
#img2{
  padding-top: 15px;
  position: absolute;
  top: 567px;
  left: 535px;
  width: 75px;
  height: 53px;
}
.jump{
  animation: jump 0.3s linear;
}
#img3{
  padding-top: 15px;
  position: relative;
  top: -170px;
  left: 70%;
  width: 50px;
  height: 75px;
  animation: block 2s infinite linear;
}
@keyframes jump{
  0% {
    top: 567px;
  }

  30%{
    top: 510px;
  }
  50%{
    top: 480px;
  }

  80%{
    top: 510px;
  }

  100%{
    top: 567px
  }
}

@keyframes block{
  0%{
   left:80%;
  }
100%{
   left:0%
}
}



@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }