.game {
 width: 1000px; 
 height: 567px; 
 border: 1px solid black;
 margin: auto;
}
#city{
    position: absolute;
}
#pochita {
 width: 75px; 
 height: 53px; 
 background-image: url(assets\pochita.gif);
 background-size: 75px 53px;
 position: relative;
 top: 440px;

}
#img2 {
    width: 75px;
    height: 53px;
  }

.jump {
    animation: jump 0.3s linear;
}


@keyframes jump{
  0% {
    top: 440px;
  }

  30%{
    top: 400px;
  }
  50%{
    top: 340px;
  }

  80%{
    top: 400px;
  }

  100%{
    top: 440px
  }
}


 #cone {
  width: 50px;
  height: 75px;
  position: relative;
  top: 360px;
  left: 950px;
  background-image: url(assets\traffic-cone.png) ;
  background-size: 50px 75px;
  animation: block 3s infinite linear;
}
#img3{
width: 50px;;
height: 75px;
}
@keyframes block{
   0%{
    left: 950px;
   }
100%{
    left: -50px;
}








}